.date-and-share {
    width: 100%;
    background-color: #e3e3e3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    &__date {
        margin: 0;
    }
    &__share { 
        display: flex;
    }
    &__icon:before {
        content: "";
        width: 20px;
        height: 20px;
        margin: 0 5px;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__icon--like::before {
        background: url(../images/heart.svg);
    }
    &__icon--reload::before {
        background: url(../images/reload.svg);
    }
    &__icon--share::before {
        background: url(../images/share.svg);
    }
}
